body{
    background-color: beige;
    margin: 0px
}

.navbar{
    padding: 10px;
    background-color: rgb(227, 204, 127);
    position: fixed;
    top: 0;
    width: 100%;
}

.hero{
    background-color: rgb(227, 204, 127);
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}