html{
    --primary-color: #d8a47f;
    --secondary-color: #232020;
    --third-color: #93b7be;
}

body{
    background-color: white;
    margin: 0px
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
    background-color: var(--secondary-color);
    /* position: fixed; */
    flex: row;
    gap: 33vw;
    display: flex;
    top: 0;
    justify-content: center;
}

.image{
    background-color: white;
    grid-area: image;
}

.hero-text{
    font-size: x-large;
    grid-area: herotext;
}

.hero{
    padding: 10px;
    max-height: 50vh;
    min-height: 50vh;
    background-color: var(--primary-color);
    display: grid;
    grid-template-areas: "image herotext";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}