html{
    --primary-color: #74c3fb;
    --secondary-color: #EDEBE9
    
}

body{
    background-color: white;
    margin: 0px
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: black;
    /* position: fixed; */
    flex: row;
    gap: 33vw;
    display: flex;
    top: 0;
    justify-content: center;
}

.image-container{
    grid-area: image;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hero #luffy{
 position: absolute;
 scale: 50%;
 top: -20px;
 left: 30%;
 rotate: 30deg;
}

.image-container #selfie{
    height: 80%;
    object-fit: contain;
    border: 15px solid var(--primary-color);
    border-radius: 50px 0px;
}

.hero-text{
    font-size: x-large;
    grid-area: herotext;
    color: #1098F7;
}

.hero{
    padding: 10px;
    margin-top: 50px;
    max-height: 80vh;
    min-height: 50vh;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-areas: "image herotext";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    position: relative;
}